@import "tailwindcss";

@theme {
  --color-foreground: #fdfdfd;
  --color-background: #000000;
  --color-backgroundOpacity: rgba(0, 0, 0, 0.7);
  --color-primary: #5fac8e;
  --color-secondary: #383838;
  --color-gray: #898888;
  --color-lightgray: #F1F1F1;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.text-cover {
  writing-mode: vertical-lr;
}
